 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Graduate Student in the Computational Hydrology Group at the University of Washington.  My research is focused on developing process-based land surface models for simulating the hydrologic cycle over large areas.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am currently using a regional implementation of the Community Earth System Model (CESM) to simulate the land climate in the Arctic region on decadal timescales. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.hydro.washington.edu/~jhamman/resume/Hamman_CV_2015.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download My CV
                    </a>
                </div>
            </div>
        </div>
    </section>
